ModernScrum/SampleData/SampleFibonacciSequence/SampleFibonacciSequence.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleFibonacciSequence" targetNamespace="Expression.Blend.SampleData.SampleFibonacciSequence" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleFibonacciSequence" type="tns:SampleFibonacciSequence" />
  <xs:complexType name="SampleFibonacciSequence">
    <xs:sequence>
      <xs:element name="Items" type="tns:Items" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="1,8" name="Scale" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ItemsItem" type="tns:ItemsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemsItem">
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="Number" type="xs:string" />
  </xs:complexType>
</xs:schema>